.git
.gitignore

__pycache__/
*.pyc
*.pyo

tmp/
*.swp
.DS_Store

docker-compose.yml
docker-compose.override.yml

/py36/
/py38
/models/
!/src/**/models
/output/
/scripts/
README.md

/src/ml_container/get_image.py
